<div class="">
  <app-nav></app-nav>
</div>
<div class="container d-sm-none d-md-block d-none d-sm-block">

    <h1 class="text-center" style="margin-top: 40px; margin-bottom:40px ; color: #fa7a75; ">Premium Plans</h1>
<div class="row" style="margin-top: 70px;">
        <div class="col-4 card">
    <img src="assets/image/v1.jpg" class="card-img-top" alt="..." style="height: 300px;">
    <div class="card-body">
            <h5 class="card-title text-center">Gold</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <div class="text-center">
         <a href="#" class="btn btn-primary">Buy</a>
         </div>

        </div>
  </div>  
  <div class="col-4 card">
    <img src="assets/image/v2.jpg" class="card-img-top" alt="..." style="height: 300px;">
    <div class="card-body">
            <h5 class="card-title text-center">Gold</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <div class="text-center">
         <a href="#" class="btn btn-primary">Buy</a>
         </div>

        </div>
  </div>
  <div class="col-4 card">
    <img src="assets/image/v3.jpg" class="card-img-top" alt="..." style="height: 300px;">
    <div class="card-body">
            <h5 class="card-title text-center">Gold</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <div class="text-center">
         <a href="#" class="btn btn-primary">Buy</a>
         </div>

        </div>
  </div>
</div>
</div>

<div class="container d-none d-sm-block d-md-none d-block d-sm-none">

  <h1 class="text-center" style="margin-top: 40px; color: #fa7a75; margin-bottom:40px">Premium Plans</h1>
<!-- <div class="row" style="margin-top: 70px;"> -->
      <div class="col card" style="margin-bottom:40px">
  <img src="assets/image/v1.jpg" class="card-img-top" alt="..." style="height: 300px;">
  <div class="card-body">
          <h5 class="card-title text-center">Gold</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <div class="text-center">
       <a href="#" class="btn btn-primary">Buy</a>
       </div>

      </div>
</div>  
<div class="col card" style="margin-bottom:40px">
  <img src="assets/image/v2.jpg" class="card-img-top" alt="..." style="height: 300px;">
  <div class="card-body">
          <h5 class="card-title text-center">Gold</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <div class="text-center">
       <a href="#" class="btn btn-primary">Buy</a>
       </div>

      </div>
</div>
<div class="col card" style="margin-bottom:40px">
  <img src="assets/image/v3.jpg" class="card-img-top" alt="..." style="height: 300px;">
  <div class="card-body">
          <h5 class="card-title text-center">Gold</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <div class="text-center">
       <a href="#" class="btn btn-primary">Buy</a>
       </div>

      </div>
</div>
 
</div>
  <div>
    <app-footer></app-footer>
  </div>
