<div class="" style="background-color: #ff2821; margin-top: 140px;">
<footer class="page-footer font-small blue pt-4">

	<!-- Footer Links -->
	<div class="container-fluid text-center text-md-left">
  
	  <!-- Grid row -->
	  <div class="row">
  
		<!-- Grid column -->
		<div class="col-md-6 mt-md-0 mt-3">
  
		  <!-- Content -->
		  <h5 class="textwhite">BhoiVarVadhu</h5>
		  <p class="textwhite"> Here you can use rows and columns to organize your footer content.</p>
  
		</div>
		<!-- Grid column -->
  
		<hr class="clearfix w-100 d-md-none pb-3">
  
		<!-- Grid column -->
		<div class="col-md-3 mb-md-0 mb-3">
  
		  <!-- Links -->
		  <h5 class="text-uppercase textwhite">MAIN MENU</h5>
  
		  <ul class="list-unstyled">
			<li>
			  <a class="textwhite" href="#!">Home</a>
			</li>
			<li>
			  <a class="textwhite" href="#!">Premium Plans</a>
			</li>
			<li>
			  <a class="textwhite" href="#!">Happy Stories</a>
			</li>
			<li>
			  <a class="textwhite" href="#!">Contact Us</a>
			</li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-3 mb-md-0 mb-3">
  
		  <!-- Links -->
		  <h5 class="text-uppercase textwhite">QUICK SEARCH</h5>
  
		  <ul class="list-unstyled">
			<li>
			  <a class="textwhite" href="#!">All Members</a>
			</li>
			<li>
			  <a class="textwhite" href="#!">Premium Members</a>
			</li>
			<li>
			  <a class="textwhite" href="#!">Free Members</a>
			</li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	</div>
	<!-- Footer Links -->
  
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3 textwhite">© 2020 Copyright:
	  <a class="textwhite" href="https://BhoiVarVadhu.com/">BhoiVarVadhu.com</a>
	</div>
	<!-- Copyright -->
  
  </footer>
</div>