<div class="">
    <app-nav></app-nav>
</div>
<div class="container">
    <h1 class="text-center" style="margin-top: 100px;">Happy Stories</h1>

    <p class="text-center" style="margin-top: 50px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
        hic, quam iusto alias iste! Animi ipsum consequuntur officiis ratione cupiditate dolor voluptatibus similique
        tenetur, iure et, earum, deleniti reiciendis laboriosam.</p>
    <div class="row" style="margin-top: 70px;">
        <div class="col-6">

            <img src="assets/image/v1.jpg">
        </div>

        <div class="col-6">

            <h2>Demo Happy Story Title 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cum quasi, temporibus, optio necessitatibus harum quis eaque, asperiores illo velit veniam, . . .</p>
        </div>
    </div>

    <div class="row" style="margin-top: 70px;">
        <div class="col-6">
            <h2>Demo Happy Story Title 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cum quasi, temporibus, optio necessitatibus harum quis eaque, asperiores illo velit veniam, . . .</p>

        </div>

        <div class="col-6">
            <img src="assets/image/v3.jpg">

        </div>
    </div>

    <div class="row" style="margin-top: 70px;">
        <div class="col-6">

            <img src="assets/image/v2.jpg">
        </div>

        <div class="col-6">

            <h2>Demo Happy Story Title 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cum quasi, temporibus, optio necessitatibus harum quis eaque, asperiores illo velit veniam, . . .</p>
        </div>
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>