<div class="container d-none d-lg-block d-xl-none d-xl-block" style="margin-top: 60px; margin-bottom: 40px">
<h2 class="text-center" style="margin-bottom: 40px; color: #fa7a75; ">Search</h2>
  <div class="row">
    <div class="col-2 text-center">
      <label for="example-number-input" class=" col-form-label">I'M LOOKING FOR A</label>
      <select class="form-control">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    <div class="col-2 text-center">

      <div class="form-group">
        <label for="example-number-input" class=" col-form-label mr-4">AGED FROM</label>
        <div class="col-10">
          <input class="form-control" type="number" value="30" id="example-number-input">
        </div>
      </div>
    </div>
    <div class="col-2 text-center">
      <div class="form-group">
        <label for="example-number-input" class=" col-form-label mr-4">To</label>
        <div class="col-10">
          <input class="form-control" type="number" value="30" id="example-number-input">
        </div>
      </div>
    </div>
    <div class="col-2 text-center">

      <label for="example-number-input" class=" col-form-label">RELIGION</label>
      <select class="form-control">
        <option>Hindu</option>
      </select>

    </div>
    <div class="col-2 text-center">
      <label for="example-number-input" class=" col-form-label">MOTHER TONGUE</label>
      <select class="form-control">
        <option>Marathi</option>
        <option>Hindi</option>
        <option>English</option>
      </select>

    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-danger text-center" style="margin-top: 35px;">Search</button>
    </div>
  </div>
</div>

<div class="container d-block d-sm-none d-none d-sm-block d-md-none" style="margin-top: 20px;">
<h2 class=" text-center" style="font-size: 15px;">Search</h2>
  <div class="row">
    <div class="col-6">
      <label for="example-number-input" class=" col-form-label fontsize">I'M LOOKING FOR A</label>
      <select class="form-control selectsize1">
        <option class="selectsize">Male</option>
        <option class="selectsize">Female</option>
      </select>
    </div>

    <div class="col-3">
      <div class="form-group">
        <label for="example-number-input" class=" col-form-label mr-4 fontsize">AGE</label>
        <input class="form-control selectsize1" type="number" value="30" id="example-number-input">
      </div>

    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="example-number-input" class=" col-form-label mr-4 fontsize">To</label>
        <input class="form-control selectsize1" type="number" value="30" id="example-number-input">
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-6">
      <label for="example-number-input" class=" col-form-label fontsize">RELIGION</label>
      <select class="form-control selectsize1">
        <option class="selectsize">Hindu</option>
        <option class="selectsize">Jain</option>
      </select>
    </div>

    <div class="col-6">
      <label for="example-number-input" class=" col-form-label fontsize">MOTHER TONGUE</label>
      <select class="form-control selectsize1" data-width="30%">
        <option class="selectsize">Marathi</option>
        <option class="selectsize">Hindi</option>
        <option class="selectsize">English</option>
      </select>

    </div>
  </div>
  <div class="row text-center">
    <button type="button" class="btn btn-outline-danger mx-auto" style="margin-top: 35px;">Search</button>
  </div>

</div>